html,
body {
  /* Default: Nextjs bugs fixing */
  padding: 0;
  margin: 0;

  /* Fixed: antd's modal shifts header bugs */
  overflow-y: auto;
  width: calc(100% - 17px);

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-tree-switcher.ant-tree-switcher_open {
  align-self: center;
}

.ant-tree-switcher.ant-tree-switcher_close {
  align-self: center;
}

/* .show-error-checkbox-wrapper-checked > .show-error > .show-error-inner {
  background-color: #ff4d4f !important;
  border-color: #ff4d4f !important;
}

.show-error-checkbox-wrapper > .show-error > .show-error-inner:hover {
  border-color: #ff4d4f !important;
} */

.show-error-content {
  border-color: #ffccc7 !important;
}

.show-error-item {
  border-color: #ffccc7 !important;
}

.show-error-expand-icon {
  color: #ff4d4f !important;
}
